%h1 Post Create
- if @post.valid?
    = "Successfully create a post with message: \"#{@msg}\" with user_id: #{@user_id}"
- else
    = "Failed to create a post with message: \"#{@msg}\" with user_id: #{@user_id}"
